#SECTION_1 {
    min-height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
    padding-right: 17px;
    width: 100vw;
    box-sizing: content-box;
}/*#SECTION_1*/

#SECTION_1:after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#SECTION_1:after*/

#SECTION_1:before {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#SECTION_1:before*/

#SECTION_2 {
    box-sizing: border-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 372.005px;
    line-height: 22.4px;
    max-width: 1180px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 1180px;
    align-items: stretch;
    justify-content: space-between;
    perspective-origin: 590px 186.003px;
    transform-origin: 590px 186.003px;
    margin: 0px 163.333px;
    padding: 0px 20px;
}/*#SECTION_2*/

#SECTION_2:after {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#SECTION_2:after*/

#SECTION_2:before {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#SECTION_2:before*/

#A_3 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 372.005px;
    left: 0px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    width: 370.495px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 185.247px 186.003px;
    transform-origin: 185.247px 186.003px;
    caret-color: rgb(24, 144, 255);
    background: rgb(213, 224, 232) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
    overflow: hidden;
    transition: color 0.3s ease 0s;
}/*#A_3*/

#A_3:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_3:after*/

#A_3:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_3:before*/

#IMG_4 {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 372.005px;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 370.495px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 185.247px 186.003px;
    transform-origin: 185.247px 186.003px;
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_4*/

#IMG_4:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_4:after*/

#IMG_4:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_4:before*/

#P_5 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 40px;
    left: 0px;
    line-height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 332.005px;
    width: 370.495px;
    column-rule-color: rgba(255, 255, 255, 0.8);
    perspective-origin: 185.247px 20px;
    transform-origin: 185.247px 20px;
    caret-color: rgba(255, 255, 255, 0.8);
    background: rgba(72, 67, 147, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(255, 255, 255, 0.8);
    margin: 0px;
    outline: rgba(255, 255, 255, 0.8) none 0px;
    transition: all 0.2s ease 0s;
}/*#P_5*/

#P_5:after {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_5:after*/

#P_5:before {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_5:before*/

#DIV_6 {
    box-sizing: border-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 372.005px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 562.018px;
    align-content: space-between;
    justify-content: space-between;
    perspective-origin: 281.003px 186.003px;
    transform-origin: 281.009px 186.003px;
    flex-flow: row wrap;
}/*#DIV_6*/

#DIV_6:after {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#DIV_6:after*/

#DIV_6:before {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#DIV_6:before*/

#A_7 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    left: 0px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    width: 182.083px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 91.0417px 91.5104px;
    transform-origin: 91.0417px 91.5104px;
    caret-color: rgb(24, 144, 255);
    background: rgb(199, 214, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
    overflow: hidden;
    transition: color 0.3s ease 0s;
}/*#A_7*/

#A_7:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_7:after*/

#A_7:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_7:before*/

#IMG_8, #IMG_17 {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 182.083px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 91.0417px 91.5104px;
    transform-origin: 91.0417px 91.5104px;
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_8, #IMG_17*/

#IMG_8:after, #IMG_17:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_8:after, #IMG_17:after*/

#IMG_8:before, #IMG_17:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_8:before, #IMG_17:before*/

#P_9, #P_18 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 40px;
    left: 0px;
    line-height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 143.021px;
    width: 182.083px;
    column-rule-color: rgba(255, 255, 255, 0.8);
    perspective-origin: 91.0417px 20px;
    transform-origin: 91.0417px 20px;
    caret-color: rgba(255, 255, 255, 0.8);
    background: rgba(72, 67, 147, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(255, 255, 255, 0.8);
    margin: 0px;
    outline: rgba(255, 255, 255, 0.8) none 0px;
    transition: all 0.2s ease 0s;
}/*#P_9, #P_18*/

#P_9:after, #P_18:after {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_9:after, #P_18:after*/

#P_9:before, #P_18:before {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_9:before, #P_18:before*/

#A_10 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    left: 0px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    width: 373.737px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 186.862px 91.5104px;
    transform-origin: 186.868px 91.5104px;
    caret-color: rgb(24, 144, 255);
    background: rgb(217, 212, 246) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
    overflow: hidden;
    transition: color 0.3s ease 0s;
}/*#A_10*/

#A_10:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_10:after*/

#A_10:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_10:before*/

#IMG_11, #IMG_14 {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 373.737px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 186.862px 91.5104px;
    transform-origin: 186.868px 91.5104px;
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_11, #IMG_14*/

#IMG_11:after, #IMG_14:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_11:after, #IMG_14:after*/

#IMG_11:before, #IMG_14:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_11:before, #IMG_14:before*/

#P_12, #P_15 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 40px;
    left: 0px;
    line-height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 143.021px;
    width: 373.737px;
    column-rule-color: rgba(255, 255, 255, 0.8);
    perspective-origin: 186.862px 20px;
    transform-origin: 186.868px 20px;
    caret-color: rgba(255, 255, 255, 0.8);
    background: rgba(72, 67, 147, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(255, 255, 255, 0.8);
    margin: 0px;
    outline: rgba(255, 255, 255, 0.8) none 0px;
    transition: all 0.2s ease 0s;
}/*#P_12, #P_15*/

#P_12:after, #P_15:after {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_12:after, #P_15:after*/

#P_12:before, #P_15:before {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_12:before, #P_15:before*/

#A_13 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    left: 0px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    width: 373.737px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 186.862px 91.5104px;
    transform-origin: 186.868px 91.5104px;
    caret-color: rgb(24, 144, 255);
    background: rgb(189, 219, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
    overflow: hidden;
    transition: color 0.3s ease 0s;
}/*#A_13*/

#A_13:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_13:after*/

#A_13:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_13:before*/

#A_16 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    left: 0px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    width: 182.083px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 91.0417px 91.5104px;
    transform-origin: 91.0417px 91.5104px;
    caret-color: rgb(24, 144, 255);
    background: rgb(190, 217, 229) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
    overflow: hidden;
    transition: color 0.3s ease 0s;
}/*#A_16*/

#A_16:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_16:after*/

#A_16:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_16:before*/

#DIV_19 {
    box-sizing: border-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 372.005px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 193.789px;
    justify-content: space-between;
    perspective-origin: 96.888px 186.003px;
    transform-origin: 96.8945px 186.003px;
    flex-flow: column nowrap;
}/*#DIV_19*/

#DIV_19:after {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#DIV_19:after*/

#DIV_19:before {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}/*#DIV_19:before*/

#A_20, #A_23 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    left: 0px;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    touch-action: manipulation;
    width: 193.789px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 96.888px 91.5104px;
    transform-origin: 96.8945px 91.5104px;
    caret-color: rgb(24, 144, 255);
    background: rgb(201, 235, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
    overflow: hidden;
    transition: color 0.3s ease 0s;
}/*#A_20, #A_23*/

#A_20:after, #A_23:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_20:after, #A_23:after*/

#A_20:before, #A_23:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#A_20:before, #A_23:before*/

#IMG_21, #IMG_24 {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 183.021px;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 193.789px;
    column-rule-color: rgb(24, 144, 255);
    perspective-origin: 96.888px 91.5104px;
    transform-origin: 96.8945px 91.5104px;
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_21, #IMG_24*/

#IMG_21:after, #IMG_24:after {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_21:after, #IMG_24:after*/

#IMG_21:before, #IMG_24:before {
    box-sizing: border-box;
    color: rgb(24, 144, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 22.4px;
    text-decoration: none solid rgb(24, 144, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(24, 144, 255);
    caret-color: rgb(24, 144, 255);
    border: 0px none rgb(24, 144, 255);
    outline: rgb(24, 144, 255) none 0px;
}/*#IMG_21:before, #IMG_24:before*/

#P_22, #P_25 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    height: 40px;
    left: 0px;
    line-height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 143.021px;
    width: 193.789px;
    column-rule-color: rgba(255, 255, 255, 0.8);
    perspective-origin: 96.888px 20px;
    transform-origin: 96.8945px 20px;
    caret-color: rgba(255, 255, 255, 0.8);
    background: rgba(72, 67, 147, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(255, 255, 255, 0.8);
    margin: 0px;
    outline: rgba(255, 255, 255, 0.8) none 0px;
    transition: all 0.2s ease 0s;
}/*#P_22, #P_25*/

#P_22:after, #P_25:after {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_22:after, #P_25:after*/

#P_22:before, #P_25:before {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    font-variant-numeric: tabular-nums;
    line-height: 40px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    border: 0px none rgba(255, 255, 255, 0.8);
    outline: rgba(255, 255, 255, 0.8) none 0px;
}/*#P_22:before, #P_25:before*/

